.navbar {

    min-height: $HEADER_HEIGHT;
    height: $HEADER_HEIGHT;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    margin-bottom: 0;
    background: linear-gradient(to bottom, rgba(85, 86, 94, 1) 0%, rgba(68, 69, 75, 1) 39%, rgba(50, 50, 53, 1) 100%);
    //    background-color: #2d303b; //#2d303b; sidebar color conflict

    $LINK_COLOR: #999999;
    $ACTIVE_COLOR: #dddddd;

    .content {
        padding-top: 0;
        height: 100%;
        position: relative;


        .container {

            position:absolute;
            bottom:0.5rem;
            right:3rem;
            left:3rem;
            box-sizing: border-box;

            .nav {
                border-right: none;
                border-left: none;
                float: none;
                //        padding-left: 25%;
                /*        top: 20px;*/


                & > li:first-child  a{
                    margin-left:0;
                }

                &>li {

                    ul.dropdown-menu, {
                        &:after, &:before {
                            border: none;
                        }
                    }

                    & > a{
                        padding:0;

                    }



                    a[dropdown-toggle]{
                        $ENTER_SPACE:10px;
                        padding-bottom:$ENTER_SPACE;
                        margin-bottom:-$ENTER_SPACE;
                    }

                    &, &:hover {

                        a {

                            color: $LINK_COLOR;
                            cursor: pointer;
                            &:hover {
                                color: $ACTIVE_COLOR;
                                .caret {
                                    border-top: 4px solid $ACTIVE_COLOR;

                                }
                            }

                            .caret {
                                margin-top: 10px;
                                border-top: 4px solid $LINK_COLOR;
                            }
                        }

                    }
                }

                .cloudify-logo {
                    padding: 0;
                    position: relative;
                    z-index: 999;

                    * {
                        transform: none;
                        animation: none;
                        transition-property: none;
                    }

                    a {
                        background: url('http://getcloudify.org/img/logoSmall.png') no-repeat bottom left;
                        display: block;
                        width: 62px;
                        height: 38px;
                        overflow: hidden;
                        margin-top:-8px;
                    }

                    &:hover a {
                        background-position: 0 0;
                    }
                }
            }

            .navbar-btn {
                padding: 5px 10px ;
                border-radius: 35px;
                text-transform: uppercase;
                &, a {
                    color:white;
                    text-decoration:none;
                    white-space:nowrap;
                }
                &.blue{
                    background: #00B4DA;
                    &:hover{
                        background: #00a2c4;
                    }
                }
                &.green{
                   background: #479c18;
                }
            }

            .header-links{
                float:right;
                &>a,&>div{
                    margin-left:10px;
                }
            }

            .navbar-search{
                float:none;
                padding-left:10px;
                display:inline-block;
                width:200px;
                border-radius: 15px;
                margin:0;
                padding:0;
                input{
                    width:100%;
                    border:none;
                    border-radius: 15px;
                    padding-left:30px;
                    margin:0;
                    height:100%;
                    &, &:focus, &:hover, &:active {
                        outline: none;
                    }

                }
                &:before{
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f002";
                    color:#CCC;
                    font-family: "FontAwesome";
                    position: absolute;
                    left: 10px;
                    top:6px;
                }
            }

        }
    }
}


