
#layout {
    .cfy-sidebar {

        $TEXT_COLOR: #8b9199;
        $BACKGROUND: white;
        $OPEN_BACKGROUND: #eee;
        $BORDER_COLOR: #D7D7D7;
        $LEFT_PADDING: 20px;
        $LINE_HEIGHT: 35px;
        $ACTIVE_COLOR: #00B4DA;

        position: fixed;
        top: $HEADER_HEIGHT;
        bottom: 0;
        background: white;
        overflow-y: auto;

        width: 400px;
        select {
            width: 100%;
            height: 30px;

        }

        * {
//            transition: color 100ms, background 1s, max-height 100ms;
            font-size: 14px;
        }

        input {
            width: 100%;
            height: 35px;
            padding-left: $LEFT_PADDING;
            border: 3px solid $BORDER_COLOR;
        }

        [tree-node] [tree-node-children]{
            padding-left:30px;
            background:$OPEN_BACKGROUND;
        }

        [tree-node].collapsed [tree-node-children] [tree-node] {
            border:none;
            [tree-node-title] {
                //            display:none;
                font-size: 0;
                height: 0;
                overflow: hidden;
                border:none;
            }
        }
        [tree-node].hidden {
            display: none;
        }

        [tree-template] {
            &, a, a:hover, * a, * a:hover {
                color: $TEXT_COLOR;
                text-decoration: none;
            }

            &.animate [tree-node] [tree-node-title]{
                transition:height 0.5s, font-size 1s;
            }

            [tree-node] [tree-node-title] {
                & {
                    height:48px;
//                    transition: max-height 3s ease-out, background 1s, font-size 1s;
                    font-size:16px;
                }

                *{
                    white-space: nowrap;
                    overflow:hidden;
                    text-overflow: ellipsis;
                }
//                [tree-node-children]{
//                    transition: background-color 1s, height 1s, max-height 1s;
//                    background: transparent;
//                }
                &.expanded {
                    [tree-node-children]{
                        background: $OPEN_BACKGROUND;
                    }
                    &>[tree-node-title] {
                        background: $OPEN_BACKGROUND;
                        border-bottom: none;
                        &>i, &>a, & > span {
                            //                                    font-weight: bold;
                            color: $ACTIVE_COLOR;

                        }
                    }
                }

                [tree-node-children]{
                    padding-left:30px;
                }


            }

            [tree-node-title] {
                border-bottom: 1px solid #CECECE;
                border-right: 1px solid #D7D7D7;
                cursor: pointer;
                &:hover, &.current {
                    border-bottom: 1px solid $ACTIVE_COLOR;
                    &, &>a, &>a:hover {

                        color: $ACTIVE_COLOR;
                        text-decoration:none;
                    }
                }

                &.current span{
                    color:$ACTIVE_COLOR;
                }

                .fa:before {
                    padding-right: 10px;
                }


                a, & > span {
                    color: $TEXT_COLOR;
                    font-size: 16px;
                    &:hover {
                        color: $ACTIVE_COLOR;
                        background: $OPEN_BACKGROUND;
                    }

                    padding: 10px 0 10px $LEFT_PADDING;
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-right: 1px solid $BORDER_COLOR;
                }

                a > span {
                    padding-left: 20px;
                    i {
                        font-size: 10px;
                    }
                }

            }
        }
    }
}
