.navbar-default {

  // TODO: remove it after refactoring the navbar buttons style
  a:hover {
    text-decoration: none;
  }

  .navbar-nav {
    li {
      text-transform: uppercase;
    }
  }

  .navbar-btn {
    text-transform: uppercase;
  }

  .navbar-brand {
    color: #000;
    display: inline;
    height: 48px;
    padding: 10px 15px;
    width: 150px;

    &:hover {
      color: #fff;
    }

    img {
      display: inline;
      width: 30px;
    }

  }
}
