



<!--{{ if .Params.lightbox }}-->
<!--<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/lightbox.css">-->
<!--<script src="{{ .Site.BaseURL }}/js/lightbox.min.js"></script>-->
<!---->
<!--{{ end }}-->


<script src="{{ .Site.BaseURL }}javascript/getcloudify-vendor.min.js"></script>
<script src="{{ .Site.BaseURL }}javascript/getcloudify.all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
