<div class="footer">
<!--	<div class="pure-menu pure-menu-horizontal pure-menu-open">
		<ul class="footer-menu">
		{{ range .Site.Menus.footer }}
			<li><a href="{{.URL}}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</div>-->

   <div class="container">
        <div class="row">
            <div class="span3">
                <div>
                    <h5 class="title"><strong class="topics">Browse pages</strong></h5>
                    <ul>
                       <div><a href="http://getcloudify.org/network-function-virtualization-vnf-nfv-orchestration-sdn-platform.html">NFV Orchestration &amp; Management with Cloudify</a> </div>
                        <div><a href="http://getcloudify.org/docker-orchestration-docker-container-deployment-cloud.html">Docker Orchestration &amp; Management with Cloudify</a></div>
                        <div><a href="http://getcloudify.org/chef_cloud_configuration_management.html">Chef on the Cloud</a></div>
                        <div><a href="http://getcloudify.org/openstack-architecture-cloudify.html">Cloudify - OpenStack Native</a></div>
                        <div><a href="http://getcloudify.org/vmware-hybrid-cloud.html">Cloudify for VMWare</a></div>

                    </ul>
                </div>
            </div>
            <div class="span3">
                <div>
                    <h5 class="title" ><strong class="topics">Important stuff</strong></h5>
                    <ul>
                        <div><a href="http://getcloudify.org/about_us.html">About Us</a></div>
                        <div><a href="http://getcloudify.org/goPro.html">Cloudify Premium<sup>TM</sup></a></div>
                        <div><a href="http://getcloudify.org/terms_of_use.html">Terms of Use</a></div>
                        <div><a href="http://getcloudify.org/privacy_policy.html">Privacy Policy</a></div>

                    </ul>
                </div>
            </div>
            <div class="span3">
                <div>
                    <h5 class="title"><strong class="topics">Community stuff</strong></h5>
                    <ul>
                        <div><a href="http://getcloudify.org/how-to-contribute.html"> How to Contribute</a></div>
                        <div><a href="http://getcloudify.org/how-it-works.html">How it Works</a></div>
                        <div><a href="https://github.com/cloudify-cosmo" target="_blank">Github Repo</a></div>
                        <div><a href="http://getcloudify.org/contactus.html">Get in Touch with Us</a></div>
                        <div><a href="http://www.gigaspaces.com/Careers" target="_blank">We're Hiring!</a></div>
                        <div><a href="http://getcloudify.org/FAQ_cloud_devops_automation.html">FAQ</a></div>

                    </ul>
                </div>
            </div>
            <div class="span3">
                <div>
                    <h5 class="title"><strong>Where to get support</strong><br></h5>

                    <div>
                        <i class="fa fa-comments"></i><a href="https://groups.google.com/forum/#!forum/cloudify-users" target="_blank"> Users Mailing List</a><br>
                        <i class="fa fa-envelope"></i><a href="mailto:hello@getcloudify.org"> hello@getcloudify.org</a><br>
                        <i class="fa fa-stack-overflow"></i><a href="http://stackoverflow.com/questions/tagged/cloudify" target="_blank"> stackoverflow</a><br>
                        <br>
                    </div><div class="subscribeForm">
                    <form class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://cloudifysource.us4.list-manage.com/subscribe/post?u=5e963581396e0c0e43ed217f8&amp;id=b43defea9b" _lpchecked="1">
                        <input type="email" title="Please enter a valid email address." placeholder="Subscribe for Updates" id="mce-EMAIL" class="required subscribeTxt email" name="EMAIL">
                        <input type="submit" class="btn btn-theme btn-rounded pull-right " id="mc-embedded-subscribe" name="subscribe" value="Go">
                        <!-- LeadLander -->
                        <script type="text/javascript">llfrmid=12206</script>
                        <script type="text/javascript" src="http://formalyzer.com/formalyze_init.js"></script>
                        <script type="text/javascript" src="http://formalyzer.com/formalyze_call.js"></script>
                        <!-- End LeadLander -->
                    </form>
                </div>
                </div>
            </div>

            <div class="social">
                    <a href="https://www.facebook.com/GigaSpaces?sk=app_201742856511228" data-placement="bottom" title="" target="_blank" class="socialbtn" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/intent/follow?screen_name=cloudifysource" data-placement="bottom" title="" target="_blank" class="socialbtn" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.tumblr.com/follow/cloudifysource" data-placement="bottom" title="" target="_blank" class="socialbtn" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
                    <a href="http://www.youtube.com/cloudifysource" data-placement="bottom" title="" target="_blank" class="socialbtn" data-original-title="YouTube"><i class="fa fa-youtube"></i></a>
                    <a href="http://getcloudify.org/atom.xml" data-placement="bottom" title="" target="_blank" class="socialbtn" data-original-title="RSS"><i class="fa fa-rss"></i></a>
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" width="70"></a>
                    <a href="//www.jetbrains.com/idea/" data-original-title="" title=""><img src="//www.jetbrains.com/idea/opensource/img/all/banners/idea88x31_blue.gif" alt="The best Java IDE" border="0" width="70"></a>
            </div>
        </div>
       </div>

	<p class="title" >{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
</div>
