
    <nav class="navbar">
        <div class="container">

            <ul class="nav navbar-nav">
                <li class="cloudifyLogo"><a href="/"></a></li>

                <li><a href="http://getcloudify.org/community-resources.html">COMMUNITY</a></li>

                <li class="dropdown">
                    <a href="_blank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        DOCS
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="http://getcloudify.org/guide/3.2/quickstart.html">3.2 (Latest GA)</a></li>
                        <li><a href="http://getcloudify.org/guide/3.1/quickstart.html">3.1</a></li>
                        <li><a href="http://getcloudify.org/guide/3.0/quickstart.html">3.0</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="_blank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        PRODUCT
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="http://getcloudify.org/downloads/get_cloudify_3x_abtest1.html">Download Cloudify</a></li>
                        <li><a href="http://getcloudify.org/widget.html" target="_blank">Try it Now</a></li>
                        <li><a href="http://getcloudify.org/cloud_orchestration_cloud_automation.html">About Cloudify</a></li>
                        <li><a href="http://getcloudify.org/how-it-works.html">How it Works</a></li>
                        <li><a href="http://getcloudify.org/cloudify-roadmap.html">Cloudify Roadmap</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="_blank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        RESOURCES
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="http://getcloudify.org/cloudifysourcetv.html">Videos &amp; Tutorials</a></li>
                        <li><a href="http://getcloudify.org/participate.htm">Events</a></li>
                        <li><a target="_blank" href="http://cloudifysource.tumblr.com/">Cloudify Tumblr <i class="fa fa-external-link-square"></i></a></li>
                        <li><a href="http://getcloudify.org/FAQ_cloud_devops_automation.html">FAQ</a></li>
                    </ul>
                </li>

                <li><a href="http://getcloudify.org/blog/">BLOG</a></li>

                <li><a href="http://www.gigaspaces.com/cloudify" target="_blank"><strong>.COM <i class="fa fa-external-link-square"></i></strong></a></li>

                <li><a class="toggle-link dwnBtn" href="http://getcloudify.org/downloads/get_cloudify_3x.html" data-toggle="tooltip" data-placement="bottom" title="Get Cloudify">
                    <i class="icon icon-download"></i> <strong>DOWNLOAD</strong></a>
                </li>

                <div id="header-hidden-link">

                        <a href="http://getcloudify.org/widget.html" data-toggle="tooltip" data-placement="bottom" title="Try Cloudify Now">
                            <i class="icon icon-dashboard"></i> TEST DRIVE</a>



                        <a href="http://getcloudify.org/goPro.html" title="Go Pro with Cloudify Premium" data-target=".hidden-top"><strong>
                            <i class="icon icon-plus"></i> PRO</strong></a>

                    <div id="input-container">
                        <form _lpchecked="1">
                            <input type="text" id="st-search-input" class="st-search-input" autocomplete="off" autocorrect="off" autocapitalize="off" style="outline: none;">
                        </form>
                    </div>

                </div>

            </ul>
        </div>

    </nav>

