{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "topbar.html" . }}

<div class="wrap">
  <div class="container main-layout">
    <div class="row">
      <div class="col-xs-2 hidden-xs hidden-sm">
        <div class="sidebar">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
      <div class="col-xs-12 col-md-8 content-container">
        <div class="content">
          <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default pull-right hidden-xs hidden-sm"
           data-original-title="" title="Help us improve!"><i class="fa fa-github"></i>&nbsp;&nbsp;Edit On Github</button>
          <h1 id="content-title">{{ .Title }}</h1>
          <hr>
          {{ .Content }}
        </div>
      </div>
      <div class="col-xs-2 hidden-xs hidden-sm">
        <div class="toc-container">
        </div>
        <!--<div>
        {{ .TableOfContents }}
      </div>-->
    </div>
  </div>
</div>
<div class="push"></div>
</div>
{{ partial "footer.html" . }}
{{ partial "bottom.html" . }}
