{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container main-layout">
  <div class="row">
    <div class="col-xs-2 hidden-xs hidden-sm">
      <div class="sidebar">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <ol class="breadcrumb">
        <li>
          <a href="/{{ .Section }}">{{ range where .Site.Menus.docs "Identifier" .Section }}{{ .Name }}{{ end }}</a>
        </li>
        {{ if .Title }}
        <li>
          <a href="#">{{ .Title }}</a>
        </li>
        {{ end }}
      </ol>
      <div class="content">
        <h1 id="content-title">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
    <div class="col-xs-2 hidden-xs hidden-sm">
      <div class="toc-container">
      </div>
<!--<div>
      {{ .TableOfContents }}
    </div>-->
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
