
docsIsOpen = {{docsIsOpen}}, name = {{name}}
<nav class="navbar">
    <div class="content">
        <div class="container">
            <div class="header-links">

                <a class="download-btn navbar-btn blue" href="http://getcloudify.org/downloads/get_cloudify_3x.html" title="Get Cloudify">
                    <i class="fa fa-download"></i> <span>download</span>
                </a>


                <div class="navbar-search swiftype-autocomplete" engine-key="4Bepa_eR9C3qKoub7af9" swiftype-term="term">
                    <input type="text"  autocomplete="off" autocorrect="off" autocapitalize="off"  ng-model="term">
                </div>

                <a class="navbar-btn green" href="http://getcloudify.org/widget.html" title="Try Cloudify Now">
                    <i class="fa fa-dashboard"></i> <span>test drive</span>
                </a>

                <a class="navbar-btn blue" href="http://getcloudify.org/goPro.html" title="Go Pro with Cloudify Premium">
                    <i class="fa fa-plus"></i> <span>pro</span>
                </a>



            </div>
            <ul class="nav navbar-nav">
            <li class="cloudify-logo"><a href="http://getcloudify.org"></a></li>

            <li><a href="http://getcloudify.org/community-resources.html">COMMUNITY</a></li>



            <li dropdown class="dropdown" ng-mouseenter="open('docs')"  ng-mouseleave="close('docs')" is-open="dropdowns.docs.isOpen">

                <a dropdown-toggle>DOCS <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="http://getcloudify.org/guide/3.2/quickstart.html">3.2 (Latest GA)</a></li>
                    <li><a href="http://getcloudify.org/guide/3.1/quickstart.html">3.1</a></li>
                    <li><a href="http://getcloudify.org/guide/3.0/quickstart.html">3.0</a></li>
                </ul>
            </li>

            <li dropdown class="dropdown" ng-mouseenter="open('product')"  ng-mouseleave="close('product')" is-open="dropdowns.product.isOpen">
                <a dropdown-toggle>
                    PRODUCT
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="http://getcloudify.org/downloads/get_cloudify_3x_abtest1.html">Download Cloudify</a></li>
                    <li><a href="http://getcloudify.org/widget.html" target="_blank">Try it Now</a></li>
                    <li><a href="http://getcloudify.org/cloud_orchestration_cloud_automation.html">About Cloudify</a></li>
                    <li><a href="http://getcloudify.org/how-it-works.html">How it Works</a></li>
                    <li><a href="http://getcloudify.org/cloudify-roadmap.html">Cloudify Roadmap</a></li>
                </ul>
            </li>

            <li dropdown class="dropdown" ng-mouseenter="open('resources')"  ng-mouseleave="close('resources')" is-open="dropdowns.resources.isOpen">
                <a dropdown-toggle>
                    RESOURCES
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="http://getcloudify.org/cloudifysourcetv.html">Videos &amp; Tutorials</a></li>
                    <li><a href="http://getcloudify.org/participate.htm">Events</a></li>
                    <li><a target="_blank" href="http://cloudifysource.tumblr.com/">Cloudify Tumblr <i class="fa fa-external-link-square"></i></a></li>
                    <li><a href="http://getcloudify.org/FAQ_cloud_devops_automation.html">FAQ</a></li>
                </ul>
            </li>

            <li><a href="http://getcloudify.org/blog/">BLOG</a></li>

            <li><a href="http://www.gigaspaces.com/cloudify" target="_blank"><strong>.COM <i class="fa fa-external-link-square"></i></strong></a></li>

        </ul>


       </div>
    </div>

</nav>

