<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <i class="fa fa-ellipsis-v fa-fw"></i>
      </button>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".topbar">
        <i class="fa fa-th-list fa-fw"></i>
      </button>
      <a href="//getcloudify.org" class="navbar-brand">
        <img src="{{ relURL "images/logo.png"}}">
        <span class="gs-font">Cloudify</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="dropdown{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}>
            <a href="{{.URL}}"> {{ .Name }} </a>
          </li>
          {{ end }}
        </ul>
        {{else}}
        <li>
          <a class="" href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post}}
          </a>
          {{end}}
        </li>
        {{end}}
      </ul>
      <div class="navbar-right">
        <a href="http://getcloudify.org/downloads/get_cloudify_3x.html" class="hidden-xs hidden-sm">
          <button type="button" class="btn btn-primary navbar-btn" title="Get Cloudify">
            <i class="fa fa-arrow-circle-o-down"></i> <span>download</span>
          </button>
        </a>
        <a href="http://getcloudify.org/goPro.html">
          <button type="button" class="btn btn-action navbar-btn" title="Cloudify Premium">
            <span>premium</span>
          </button>
        </a>
      </div>

      <form class="navbar-form navbar-right searchbox">
        <div class="form-group">
          <input type="text" class="form-control search-input" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search...">
          <div class="search-results"></div>
        </div>
      </form>

    </div>
  </div>
</div>
